<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @blog.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @page_title %>
      </div>
      <table class="table">
        <tr>
          <th><%= form.label :title %></th>
          <td><%= form.text_field :title %></td>
        </tr>
        <tr>
          <th><%= form.label :content %></th>
          <td><%= form.text_area :content %></td>
        </tr>
        <tr>
          <th><%= form.label "画像" %></th>
          <td>
            <% if @blog.image.present? %>
              <%= image_tag "#{@blog.image}", width: 100 %>
            <% end %>
            <%= form.file_field :image %>
            <%= form.hidden_field :image_cache %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= form.submit "#{@button}", class: 'btn btn-default' %></td>
        </tr>
      </table>
    </div>
    <div class="btn_back_to_index">
    <%= link_to "記事一覧へ", blogs_path, class: 'btn btn-default' %>
    </div>
  </div>


  <div class="col-xs-3">
    <div class="thumbnail">
      <%= image_tag "#{current_user.feed.image}" %>
      <div class="caption">
        <h4><%= "#{current_user.name}" %></h4>
        <p><%= link_to "アイコンを変更", edit_user_path(current_user.id), class: "btn btn-default" %></p>
      </div>
    </div>
  </div>



<% end %>
