
<h4>&nbsp;</h4>
<div class="col-xs-9">
  <div class="panel panel-default row">
    <div class="panel-heading"><h4><%= @table_name %></h4>
    </div>
    <table class="table">
      <tr>
          <th class="col-xs-2">タイトル</td>
          <th class="col-xs-4">本文</th>
          <th class="col-xs-2">&nbsp;</th>
          <th class="col-xs-2">&nbsp;</th>
          <th class="col-xs-2">&nbsp;</th>
      </tr>
      <% @blogs.each do |blog| %>
        <tr>
            <td>
              <div class="blog_title">
                <%= blog.title %>
              </div>
            </td>
            <td>
              <div class="blog_content">
                <p><%= blog.content %></p><br>
                <%= image_tag "#{blog.image}", width: 100 %><br>
                <p><%= blog.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
              </div>
            </td>
            <% if blog.user_id == current_user.id %>
              <td><%= link_to "編集する", edit_blog_path(blog.id), class: 'btn btn-success' %></td>
              <td><%= link_to "削除する", blog_path(blog.id),
                      data: { confirm: "本当に削除してもよろしいですか？"},
                      method: :delete, class: 'btn btn-warning' %></td>
            <% end %>
            <% unless blog.user_id == current_user.id %>
            <% if (current_user.favorites.find_by(blog_id: blog.id)).present? %>
              <td><%= link_to 'お気に入り解除', favorite_path(blog.id, @check),
                  data: { confirm: "お気に入り解除しますか？" },
                  method: :delete, class: 'btn btn-primary' %></td>
              <td>&nbsp;</td>
            <% else %>
              <td><%= link_to "お気に入り登録", favorites_path(blog_id: blog.id),
                  data: { confirm: "お気に入り登録しますか？" },
                  method: :post, class: 'btn btn-danger' %></td>
              <td>&nbsp;</td>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="btn_new_article">
  <%= link_to "新しく記事を作成", new_blog_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="col-xs-3">
  <div class="thumbnail">
    <%= image_tag "#{current_user.feed.image}" %>
    <div class="caption">
      <h4><%= "#{current_user.name}" %></h4>
      <p><%= link_to "アイコンを変更", edit_user_path(current_user.id), class: "btn btn-default" %></p>
    </div>
  </div>
</div>
