<h4>以下の内容で、送信する</h4>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= hidden_field_tag :"cache[image]", @blog.image.cache_name %>

  <p>タイトル：<%= @blog.title %></p>
  <p>本文：<%= @blog.content %></p>
  <% if @blog.image.present? %>
    <p>画像：<%= image_tag (@blog.image.url), width: 100 %></p>
  <% end %>
  <%= form.submit "登録する", class: 'btn btn-default' %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: 'back', class: 'btn btn-default' %>
<% end %>
