
<h3>&nbsp;</h3>
<%= notice %>
<div class="panel panel-default">
  <div class="panel-heading"><%= current_user.name %>さんの記事一覧
  </div>
  <table class="table">
    <tr>
        <th>タイトル</td>
        <th>本文</th>
        <th>作成日</th>
    </tr>
    <% @blog.each do |blog| %>
      <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
          <td><%= blog.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <% if blog.user_id == current_user.id %>
            <td><%= link_to "編集する", edit_blog_path(blog.id), class: 'btn btn-success' %></td>
            <td><%= link_to "削除する", blog_path(blog.id),
                    data: { confirm: "本当に削除してもよろしいですか？"},
                    method: :delete, class: 'btn btn-warning' %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="btn_new_article">
<%= link_to "新しく記事を作成", new_blog_path, class: 'btn btn-default' %>
</div>

<h3>お気に入り一覧</h3>
